.circle-background{
  background: rgb(0, 161, 225);
  width: 84px;
  height: 84px;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius: 50%;

  font-size: 48px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

#progressBar {
  margin: 20px;
  width: 250px;
  height: 250px;
  position: relative;
}

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
);

$grid-max-widths: (
lg: 576px
);

.show{
  display: block;
}

.hide{
  display: none;
}

.content{
ion-grid{
  // width: 992px;
  margin: 0;
  padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
  padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
}
}

.success{
  color: #10dc60;
}

.danger{
  color: #f04141;
}


.secondary{
  color: #0cd1e8;
}