ion-header{
    z-index: 0;
}

ion-tab-bar{
    position: relative;
    width: 100%;
    z-index: 10;
}

// Desktop
$grid-breakpoints: (
 xs: 0, // Phone (0px - 575px)
 sm: 576px, // Phablet (576px - 767px)
 md: 768px, // Tablet vertical (768px - 991px)
 lg: 992px // Tablet horizontal, Desktop (992px and above)
);

$grid-max-widths: (
 lg: 992px
);

ion-header .toolbar {
  margin: auto;
}
 
@media (min-width: map-get($grid-breakpoints, lg)) {
  ion-navbar.toolbar,
  ion-header .toolbar[fixed],
  ion-footer .toolbar[fixed],
  // ion-tab-bar,
  ion-tabs .tabbar {
    margin: 0;
    padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
  }
  
  ion-tab-bar {
    width: 992px;
    margin: 0;
    padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    ion-tab-button{
      max-width: calc(100% / 4);
    }
  }
}
 