<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{poem.update_date.$date | timeAgo}}</ion-card-subtitle>
    <ion-card-title (click)="goToPoemInfo(poem._id.$oid)">กลอน {{poem.name}}</ion-card-title>
    <ion-card-subtitle>ประเภท {{poem.poem_type}}</ion-card-subtitle>
    <ion-card-subtitle>
      ผู้แต่ง
      <span *ngFor="let a of author">
        {{ (a | async)?.username }}
      </span>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row *ngIf="poem.result" justify-content-center>
        <ion-col *ngFor="let c of content" size="6">
          {{c}}
        </ion-col>
      </ion-row>
      <ion-row justify-content-start>
        <ion-col>
          <ion-button fill="clear">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          {{poem.upvote.length}}
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="goToPoemInfo(poem._id.$oid)">
            <ion-icon name="chatbubbles"></ion-icon>
          </ion-button>
          {{poem.comment.length}}
        </ion-col>
        <ion-col>
            <!-- [routerLink]="['/poem', poem._id.$oid]" -->
          <ion-button (click)="goToPoemInfo(poem._id.$oid)" fill="clear">
            <ion-icon name="arrow-round-forward"></ion-icon>          
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
  