<ion-header class="shadow"></ion-header>
<ion-content class="content">
  <ion-grid>
    <form [formGroup]="poemForm">
      <h1>แต่งกลอน</h1>
      <ion-item>
        <ion-label>ชื่อ</ion-label>
        <ion-input type="text" formControlName="name" (ngOnSubmit)="onSubmit()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ประเภท</ion-label>
        <ion-select formControlName="type" (ionChange)="onTypeChange()">
          <ion-select-option *ngFor="let type of typeSelected" value="{{type}}">{{type}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>ความเป็นส่วนตัว</ion-label>
        <ion-checkbox slot="end" formControlName="privacy" checked="false"></ion-checkbox>
      </ion-item>
    </form>
    <form [ngClass]="{'show': poemForm.controls.type.value=='กลอนแปดสุภาพ', 'hide': poemForm.controls.type.value!='กลอนแปดสุภาพ'}" 
      [formGroup]="eightPoemForm">
      <ion-row style="margin-top: 2%">
          เนื้อหา
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let sec of keySection; let i = index" [attr.data-index]="i" class="poem-field" size="12">
          วรรคที่{{i+1}}
          <ion-row justify-content-center>
            <ion-col *ngFor="let s of key['eightPoem'][sec]">
              <ion-input class="input-field" 
                type="text" 
                [formControlName]="s"
                (ionFocus)="suggestWord(s)"
                (ionBlur)="completeSuggestWordField()"
                [placeholder]="(targetSuggestWordField == s)? suggestWordList[0] : null"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-button size="large" fill="clear" (click)="addChapter()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button size="large" fill="clear" (click)="removeChapter()" [disabled]="sections == 4">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row justify-content-center>
        <ion-button size="medium" (click)="onSubmit()">
          แต่งกลอน
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-row>
    </form>
    <form [ngClass]="{'show': poemForm.controls.type.value=='โคลงสี่สุภาพ', 'hide': poemForm.controls.type.value!='โคลงสี่สุภาพ'}" 
      [formGroup]="fourPoemForm">
      <ion-row style="margin-top: 2%">
          เนื้อหา
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let sec of keySection; let i = index;" [attr.data-index]="i" class="poem-field" size="6">
          วรรคที่{{i+1}}
          <ion-row justify-content-center>
            <ion-col *ngFor="let s of key['fourPoem'][sec]">
              <ion-input class="input-field" type="text" 
              [formControlName]="s"
              (ionFocus)="suggestWord(s)"
              (ionBlur)="completeSuggestWordField()"
              [placeholder]="(targetSuggestWordField == s)? suggestWordList[0] : null"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-button size="large" fill="clear" (click)="addChapter()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button size="large" fill="clear" (click)="removeChapter()" [disabled]="sections == 8">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row justify-content-center>
        <ion-button size="medium" (click)="onSubmit()">
          แต่งกลอน
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

