<ion-header class="shadow"></ion-header>

<ion-content class="content">
	<ion-grid *ngIf="getCurrentUser()">
		<h1>ข้อมูลผู้ใช้งาน</h1>
		<ion-card>
			<ion-card-header>
        <ion-card-title>{{currentUser.username}}</ion-card-title>
				<ion-item>
					<ion-avatar slot="start">
            <img src="../../../assets/avatar.svg">
					</ion-avatar>
          <ion-label class="ion-text-center ion-text-uppercase">Email: {{currentUser.email}}</ion-label>
				</ion-item>
			</ion-card-header>
			<ion-card-content></ion-card-content>
		</ion-card>
    <ion-row>
      <ion-segment>
        <ion-segment-button (click)="showPoemSegment()">
          <ion-label>กลอนที่แต่ง</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="showCommentSegment()">
          <ion-label>คำวิจารณ์</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <div *ngIf="showPoems">
      <app-poems [poems]="currentUser.poems"></app-poems>
    </div>
    <div *ngIf="showComments">
      <app-poems [poems]="currentUser.comments"></app-poems>
    </div>
	</ion-grid>
</ion-content>
