.poem-field{
    ion-input{
        border: solid 1px #acacac;
        border-radius: 5px;
        margin-right: 0%;
    }
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);

$grid-max-widths: (
  lg: 992px
);

.content{
  ion-grid{
    // width: 992px;
    margin: 0;
    padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
  }
}

.show{
  display: block;
}

.hide{
  display: none;
}
