<ion-header class="shadow"></ion-header>
<ion-content class="content">
  <ion-grid>
    <ion-row >
      <ion-col size="12" size-md="4">
        <ion-card>
          <img class="studying" src="../../assets/undraw_studying_s3l7.svg" width="200" height="200" />
          <ion-card-header>
            <ion-card-title>
              แต่งกลอนที่ไพเราะของคุณ
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <img class="analysis" src="../../assets/undraw_segment_analysis_bdn4.svg" width="200" height="200" />
          <ion-card-header>
            <ion-card-title>
              เรียนรู้และพัฒนาจากคำแนะนำ
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">            
        <ion-card>
          <img class="share" src="../../assets/undraw_analysis_4jis.svg" width="200" height="200" />
          <ion-card-header>
            <ion-card-title>
              โชว์กลอนคุณให้ทุกคนเห็น
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>  
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="12" size-md="6">
        <ion-button expand="full" shape="round" [routerLink]="['/tabs/write_poem']">
          เริ่มแต่งกลอนของคุณได้ที่นี่เลย
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>
    <ion-row>
      <ion-col>            
        <h4>ดูตัวอย่างกลอนของคนอื่น ๆ</h4>
      </ion-col>
    </ion-row>
    <div class="ion-padding">
      <app-poems [poems]="poems"></app-poems>
    </div>
    <ion-row justify-content-center>
      <a [routerLink]="['/tabs/explore']">see more</a>
    </ion-row>
  </ion-grid>
</ion-content>
