<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/']" >
          <ion-icon name="arrow-back"></ion-icon>
          กลับสู่หน้าหลัก
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>สมัครสมาชิก</h1>
      </ion-col>    
    </ion-row>
    <ion-card>
      <ion-row justify-content-center>
        <ion-col>
          <form [formGroup]="registerForm" (onSubmit)="register()" (change)="changed()">
            <ion-item>
              <ion-label position="floating" color="primary">
                Email
                <ion-icon name="mail"></ion-icon>
              </ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">
                ชื่อผู้ใช้งาน
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">
                รหัสผ่าน
                <ion-icon name="key"></ion-icon>
              </ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" color="primary">
                ยืนยันรหัสผ่าน
                <ion-icon name="key"></ion-icon>
              </ion-label>
              <ion-input type="password" formControlName="passwordConfirm"></ion-input>
            </ion-item>
          </form>      
        </ion-col>
      </ion-row>
      <ion-row *ngIf="error">
        <ion-col>
          <ion-label color="danger">โปรดตรวจสอบความถูกต้องของข้อมูลอีกครั้ง</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="duplicate">
        <ion-col>
          <ion-label color="danger">มีบัญชีผู้ใช้นี้ในระบบแอยู่ล้ว</ion-label>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size="10">
          <ion-button expand="block" [disabled]="loading" (click)="register()">สมัครสมาชิก</ion-button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        มีบัญชีผู้ใช้แล้ว?<a [routerLink]="['/login']">เข้าสู่ระบบ</a>
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
  